html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.headroom--pinned {
    transform: translateY(0);
}

.headroom {
    transition: transform .25s ease-in-out;
    will-change: transform;
}

.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

.headroom--unpinned {
    transform: translateY(-100px);
}

.bg-1 {
    background-position: center;
    background-size: cover;
    background-image: url(../images/bg-1.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
}


/*typed.js file here*/

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #fcd477;
}

@-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typed-fade-out {
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}


/*typed.js end*/

.text-data h1 {
    font-weight: 700;
    letter-spacing: 1px;
}

.type {
    color: orange;
}