html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.headroom--pinned {
    transform: translateY(0);
}

.headroom {
    transition: transform .25s ease-in-out;
    will-change: transform;
}

.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

.headroom--unpinned {
    transform: translateY(-100px);
}

.bg-1 {
    background-position: center;
    background-size: cover;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../images/bg-1.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../images/bg-1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../images/bg-1.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
}


/*typed.js file here*/

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #fcd477;
}

@-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typed-fade-out {
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}


/*typed.js end*/

.text-data h1 {
    font-weight: 700;
    letter-spacing: 1px;
}

.type {
    color: orange;
}


/*Data*/

.data p {
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.navbar-brand {
    font-weight: 700;
    color: orange !important;
    font-style: oblique;
    font-size: 32px;
}

.nav-link {
    font-size: 12px;
}

#lightgallery img {
    border: 10px solid #fff;
    border-radius: 5px;
    overflow: hidden;
}

#lightgallery div {
    overflow: hidden;
}

#lightgallery img:hover {
    transform: scale(1.2);
    transition: all;
    transition-duration: 2s;
}
.highlight{
    font-weight: 600;
}
@media screen and (max-width:768px) {
    .text-data h1 {
        font-size: 24px;
    }
}
@media screen and (max-width:765px){
    .table{
        display: none;
    }
}